NODE_ENV=development
NUXT_PUBLIC_ENV=development 
PORT=3000 # your port,default is 3000
NUXT_PUBLIC_BASE_URL=http://localhost:3000 # your base url 
NUXT_STRIPE_SECRET_KEY= # your stripe secret key. details for :https://stripe.com
NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY= # your stripe public key
NUXT_STRIPE_WEBHOOK_SECRET= # your stripe webhook secret key
NUXT_CREEM_API_KEY= # your creem api key. details for :https://www.creem.io
NUXT_PUBLIC_CREEM_URL= # your creem base url e.g: https://test-api.creem.io
NUXT_CREEM_WEBHOOK_SECRET= # your creem webhook secret
NUXT_PUBLIC_BAGELPAY_URL= # your creem base url https://test.bagelpay.io
NUXT_BAGELPAY_API_KEY= # your bagelpay secret key.
NUXT_BAGELPAY_WEBHOOK_SECRET= # your bagelpay webhook secret key
NUXT_RESEND_API_KEY= # your resend api key. details for :https://resend.com
NUXT_PUBLIC_PLAUSIBLE_DOMAIN= # your plausible domain e.g: nuxtpro.com  details for :https://nuxt.com/modules/plausible
NUXT_PUBLIC_PLAUSIBLE_API_HOST= # your plausible request url 
DATABASE_URL= # your mysql url e.g: mysql://root:password.@localhost:3306/nuxtpro
IPINFO_TOKEN= # your ipinfo token . details for : https://ipinfo.io/ to register
PAYMENT_METHOD=1   # select your payment：1、stripe;2、paddle(not support);3、creem;5、bagelPay
BETTER_AUTH_SECRET= # your better auth 32 secret. details for : https://www.better-auth.com/docs/installation
BETTER_AUTH_URL= # your better auth url  e.g: http://localhost:3000 
GOOGLE_CLIENT_ID= # your google clinet id e.g: xxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET= # your google client secret. details for :https://www.better-auth.com/docs/authentication/google   https://console.cloud.google.com/apis/dashboard
GITHUB_CLIENT_ID= # your github client id. details for : https://www.better-auth.com/docs/authentication/github   https://github.com/settings/developers
GITHUB_CLIENT_SECRET= # your github client secret 
GOOGLE_SEARCH_CONSOLE_VERIFICATION_CODE= # your google search console verification code. details for: https://search.google.com/search-console/about





